
@font-face {
    font-family: "Norse";
    src: url("font/Norse-Bold.woff2") format("woff2"),
         url("font/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    font-family: sans-serif; 
}

.image {
    position: relative;
    height: 100vh;
    display: inline-block;   /* shrink-wrap to image width */
}

.odin-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    background: rgb(0 0 0 / 50%) ;
    width: 100%;
    padding: 0px 0px;
    top: 15vh;
}

.leaf {
    height: 100vh;
    width: auto;
    display: block;
}

.odin {
    height: 10rem;
}

h1{
    font-family: "Norse";
    padding: 0px;
    color: white;
    font-size: 6rem;
    padding-top: 20px;

}

h3 {
    font-size: 2rem;
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
    font-weight: 600;
}

.content {
    width: 100%;
}

.quote {
    margin: 0px;
    padding: 0px;
    height: 27vh;
    background-color: rgb(249, 249, 249);
}

form {
    position: relative;
}

fieldset {
    display: block;
    padding-left: 40px ;
    max-width: 100%;
    border: none;
}

fieldset > div:last-child {
    padding-bottom: 40px;
}

.button {
    background-color: rgb(249, 249, 249);
    width: 100%;
    padding: 50px 0px 50px 0px;
}

button {
    margin-left: 40px;
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    font-size: 1rem;
}

button:hover {
    background-color: #809c67;
    color: white;
    cursor: pointer;
}

h3 {
    margin-bottom: 0px;
    padding-left: 40px;
}

.name, .contact, .passwords {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 100px;
}

.labels {
    margin-bottom: 10px;
}

input  {
    outline: none;
    background-color: #fff;
    padding: 12px 10px 12px;
    width: 300px;
    font-size: 16px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
}

h2 {
    margin-top: 0px;
    padding: 0px 30px;
    width: 40em;
    font-weight: 600;
}
h2:first-child {
    padding-top: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 100vh;
}

.footer {
    flex:1;
    background-color: rgb(249, 249, 249);
    font-size: 1rem;
}

a {
    text-decoration: underline;
    color: #596D48;
    cursor: pointer;
}

a:hover {
    color:#809c67;
}

.login {
    padding-left: 40px;
}

form {
    display: border-box;
}

input:invalid {
    border: 1px solid #b92326;
}

input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

